/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body{
    font-family:"Whitney",sans-serif;
}

img{
    width: 100%;
}

.container{
    width: 80%;
    margin: auto;
    
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.col{
    float: left;
   
}

/* END COMMON */


/* HEADER */

header{
    background-color: #3061e0;
    color: white;
    height: 80px;

}

nav{
    line-height:80px;
}

.side-col{
    width: 10%;

}

.central-col{
    width: 80%;
}

.side-col img{
    vertical-align: middle;
}
/* links menu */
.top-links{
    list-style-type: none;
    text-align: center;
}

.top-links li{
    display: inline-block;
    margin: 0 30px;
    
}

.top-links a{
    text-decoration: none;
    color: white;
}

.login {
    text-align: right;
}

.main-header{
    /* test */
    
    height: 200px;

}

/* END HEADER */


/* BUTTONS */

.button{
    text-decoration: none;
    line-height: normal;
    display: inline-block;

}

.small-b{
    
    font-size: 12px;
    padding:8px 10px;
    border-radius: 20px;
}

.white-b{
    background-color: white;
    color: black;
}


/* end buttons */


.jumbotrone{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* test */
    height: 500px;

}